<div id="carouselExampleControls" class="carousel banner-slide1" data-ride="carousel">
  <div id="scrollUp" class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/services221.png" alt="Image" class="d-block w-100" />
      <div class="carousel-caption d-flex flex-column justify-content-center align-items-start">
        <h1>
          <b>Careers</b>
        </h1>
        <p>Learn Trending IT Courses To Start Your Carrer As Techie</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="career">
    <div class="row">
      <div class="col-12 col-md-6 animate__animated animate__backInLeft">
        <div class="career_image mt-3 mb-3 position-relative">
          <img src="../../assets/images/career_intern0011.png" alt="Fullstack Internships" class="img-fluid" />
          <a [routerLink]="'/internships'">
            <div class="career_image__title position-absolute top-0 start-0 text-white p-5" style="font-size: 30px">
              Internship
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 animate__animated animate__backInRight">
        <div class="career_image mt-3 mb-3 position-relative">
          <img src="../../assets/images/career_jobs0011.png" alt="Software Jobs" class="img-fluid" />
          <a [routerLink]="'/placements'">
            <div class="career_image__title position-absolute top-0 start-0 text-white p-5" style="font-size: 30px">
              Placements
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>