// .navbar-brand {
//   font-size: 1.5rem;
//   font-weight: bold;
//   color: #fff;
// }

.logo-img{
  width: 70%;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav .nav-link {
  font-size: 0.9rem;
  color: #1c2331 !important;
  text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
  color: red !important;
}

.navbar-nav .dropdown-menu {
  background-color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: black;
}

.navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
}

.navbar .btn {
  margin-left: 10px;
}

.navbar {
  background-color: #fff;
  // border-bottom: 1px solid #ffffff;
}

.dropdown-item{
  cursor: pointer;
}
.nav-item {
// margin-top: 10px;
font-weight: 500;
}

@media (max-width: 992px) {

  .navbar-nav {
    margin-left: auto;
  }

.navbar-collapse {
  background-color: #fff;
  margin-top: 18px;
  margin-bottom: 15px;
}

.navbar-collapse a {
  display:inline-flexbox;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
}

.navbar-collapse a:hover {
  background-color: #f0f0f0;
  color: blue;
}

}

@media (max-width: 768px) {
  .navbar-toggler {
    border-color: white;
  }
}

.logo {
  padding: 0.1rem 0.3rem;
  width: auto;
  height: auto;
}

.btn-nav {
  font-size: 16px;
  color: white !important;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  font-weight: 700;
}

.btn-nav:hover {
  background-color: white;
  color: white;
}
