<div id="carouselExampleControls" class="carousel banner-slide1" data-ride="carousel">
  <div id="scrollUp" class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/contact_us.png" alt="Image"
        class="d-block w-100" />
      <div class="carousel-caption d-flex flex-column justify-content-center align-items-start">
        <h1>
          <b>Contact Us</b>
        </h1>
      </div>
    </div>
  </div>
</div>
<section class="contact_us" style="overflow: hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact_information">
          <div class="row">
            <div class="col-12">
              <div class="contact_information">
                <div class="row">
                  <div
                    class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 wow animate__animated animate__fadeUp"
                    style="
                      visibility: visible;
                      animation-name: fadeInUp;
                      padding-top: 50px;
                    ">
                    <div class="section-title mb-50 text-center">
                      <div class="section-title-heading mb-20">
                        <h1 class="mb-5" style="font-size: 30px">
                          <b>Get In Touch</b>
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-lg-4 mx-auto wow animate__animated animate__fadeInLeft"
                    style="visibility: visible">
                    <div class="contact_box text-center">
                      <a [href]="'mailto:' + generalSetting.email">
                        <div class="contact_icon">
                          <i class="far fa-envelope fa-2x"></i>
                        </div>
                      </a>
                      <div class="contact_text">
                        <a [href]="'mailto:' + generalSetting.email" class="text-dark mt-lg-2">
                          Email: {{ generalSetting.email }}</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mx-auto wow animate__animated animate__fadeInUp"
                    style="visibility: visible; animation-name: fadeInUp">
                    <div class="contact_box text-center">
                      <a target="_blank" href="https://g.page/ashok-it?share">
                        <div class="contact_icon">
                          <i class="fas fa-map-marker-alt fa-2x"></i>
                        </div>
                      </a>
                      <div class="contact_text">
                        <a target="_blank" href="https://g.page/ashok-it?share" class="text-dark mt-lg-2">
                          Location: {{ generalSetting.address }}
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mx-auto w animate__animated animate__fadeInRight"
                    style="visibility: visible; animation-name: fadeInRight">
                    <div class="contact_box text-center">
                      <a href="tel:{{ generalSetting.phoneNumber }}">
                        <div class="contact_icon">
                          <i class="fas fa-phone-volume fa-2x"></i>
                        </div>
                      </a>
                      <div class="contact_text">
                        <a target="_blank" [href]="'tel:' + generalSetting.phoneNumber" class="text-dark mt-lg-2">
                          Phone: +91 {{ generalSetting.phoneNumber }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-10 col-sm-10 col-xl-6 col-lg-6 mx-auto wow animate__animated animate__fadeInLeft"
        style="visibility: visible">
        <div class="contact_img mt-5 text-center">
          <img src="../../assets/images/contact22.png" alt="Image"
            class="img-fluid lazyload" style="width: 70%" loading="lazy" />
        </div>
      </div>
      <div class="mt-5 col-md-10 col-sm-10 col-xl-6 col-lg-6 mx-auto wow animate__animated animate__fadeInRight"
        style="visibility: visible; animation-name: fadeInRight">
        <div class="contactus">
          <div class="card">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <div class="box text-center" style="
                    padding-top: 1px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                  ">
                  <h4>Contact Us</h4>
                </div>
              </div>
              <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()" class="w-100">
                <div class="col-12">
                  <div id="the-message"></div>
                  <div id="form-contact" class="form-horizontal">
                    <div class="form-group">
                      <label for="name" class="form-label required-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name"
                        formControlName="name" required />
                      <div *ngIf="submitted && f['name'].errors" class="text-danger">
                        Name is required
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="emailId" class="form-label required-label">Email Address</label>
                      <input type="email" class="form-control" id="emailId" name="emailId"
                        placeholder="Enter Email Address" formControlName="emailId" required />
                      <div *ngIf="submitted && f['emailId'].errors" class="text-danger">
                        Email id is required
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-4 mb-3">
                        <div class="form-group">
                          <label for="countryCode" class="form-label required-label">Country Code</label>
                          <select name="countryCode" id="countryCode" class="form-control" formControlName="countryCode"
                            required>
                            <option value="0">-Select-</option>
                            <option *ngFor="let countryCode of countryCodes" [value]="countryCode.countryCode">
                              {{ countryCode.countryName + " ( + " + countryCode.countryCode  }} )
                            </option>
                          </select>
                          <div *ngIf="submitted && f['countryCode'].errors" class="text-danger">
                            Country Code is required
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-8 col-md-8 mb-3">
                        <div class="form-group">
                          <label for="phoneNo" class="form-label required-label">Phone Number</label>
                          <input type="text" class="form-control" id="phoneNo" name="phoneNo"
                            placeholder="Enter Phone Number" formControlName="phoneNo" required />
                          <div *ngIf="submitted && f['phoneNo'].errors" class="text-danger">
                            Phone No is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="message" class="form-label required-label">Message</label>
                      <textarea name="message" class="form-control" id="message"
                        placeholder="Type Your Message Here . . ." formControlName="message" required></textarea>
                      <div *ngIf="submitted && f['message'].errors" class="text-danger">
                        Message is required
                      </div>
                    </div>
                    <div class="text-center mb-3">
                      <button type="submit" class="btn btn-danger">
                        Send Message
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1903.2326150097326!2d78.44439443882162!3d17.43743315481373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb917c31ae9497%3A0x7f1bba4dc8c27c51!2sAshok%20IT!5e0!3m2!1sen!2sin!4v1725070083191!5m2!1sen!2sin"
    width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>

</div>