<div
  id="carouselExampleControls"
  class="carousel banner-slide1"
  data-ride="carousel"
>
  <div id="scrollUp" class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/images/about_us.png"
        alt="Image"
        class="d-block w-100"
      />
      <div
        class="carousel-caption d-flex flex-column justify-content-center align-items-start"
      >
        <h1>
          <b>About Us</b>
        </h1>
      </div>
    </div>
  </div>
</div>
<section class="who_we pt-5" style="overflow: hidden">
  <div class="row">
    <div
      class="col-md-12 col-lg-12 col-sm-12 col-xl-12 wow animate_animated animate_fadeInLeft text-lg-left text-md-center text-center"
      style="visibility: visible"
    >
      <div class="container">
        <div class="section-title mb-30">
          <div class="section-title-heading mb-20">
            <h1 class="text-center"><b>Who We Are?</b></h1>
          </div>
          <div class="section-title-para">
            <p>
              Ashok IT is a leading Indian IT training institute preparing
              tech-aspirants for flourishing careers in this challenging and
              competitive domain since 2020. We offer flexible online training
              options that allow our students to study conveniently and progress
              on their preferred pace. Teaching at Ashok IT is supported by
              years of extensive academic and industry experience, innovative
              teaching methodologies, and high-quality educational resources.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 col-lg-12 col-sm-12 col-xl-12 wow animate_animated animate_fadeInUp"
        style="background: #f7f7f7; overflow: hidden"
      >
        <div class="section-title mb-50 text-center">
          <div class="section-title-heading mb-20">
            <h1 class="mt-4"><b>Our Mission & Vision</b></h1>
          </div>
          <div class="container">
            <div class="section-title-para">
              <p>
                Training at Ashok IT is tailored and regularly updated to match
                the ever-growing needs of the robust and cut-throat IT domain.
                Our Mission is to educate and train our students to be able to
                effectively assume top responsibilities and handle senior
                administrative roles in tech-driven MNCs around the world. Our
                vision is to make high-quality IT-training services easily
                available, accessible, and affordable to the promising talent of
                our country.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="our_mission2 text-center pt-5 pb-5"
  style="background: #f7f7f7; overflow: hidden"
>
  <div class="container">
    <div class="row our_mission_row justify-content-center">
      <div
        class="col-md-4 col-lg-4 col-sm-4 col-lx-4 wow animate_animated animate_fadeInLeft"
        style="visibility: visible; align-items: center"
      >
        <div
          class="mission_box mb-5 p-2"
          style="background-color: rgb(143, 226, 110)"
        >
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-bullseye fa-3x"></i>
            <h4
              class="text-white mt-2"
              style="font-size: 25px; padding-left: 10px"
            >
              Mission
            </h4>
          </div>
          <p class="text-white mt-1">
            Our mission is to allow the aspiring talent of our country to be
            able to utilize their potential and lead impactful careers in the
            exciting and stimulating domain of Information Technology.
          </p>
        </div>
      </div>
      <div
        class="col-md-4 col-lg-4 col-sm-4 col-lx-4 wow animate_animated animate_fadeInUp"
        style="visibility: visible; align-items: center"
      >
        <div
          class="mission_box mb-5 p-2"
          style="background-color: rgb(110, 151, 226)"
        >
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-binoculars fa-3x"></i>
            <h4
              class="text-white mt-2"
              style="font-size: 25px; padding-left: 10px"
            >
              Vission
            </h4>
          </div>
          <p class="text-white mt-1">
            We work to provide the budding tech-aspirants of our nation with a
            useful, inexpensive learning platform where they can benefit from
            the deep IT-domain expertise and extensive industry experience of
            our proficient.
          </p>
        </div>
      </div>
      <div
        class="col-md-4 col-lg-4 col-sm-4 col-lx-4 wow animate_animated animate_fadeInRight"
        style="visibility: visible; align-items: center"
      >
        <div
          class="mission_box mb-5 p-2"
          style="background-color: rgb(227 110 113)"
        >
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-globe fa-3x"></i>
            <h4
              class="text-white mt-2"
              style="font-size: 25px; padding-left: 10px"
            >
              Goal
            </h4>
          </div>
          <p class="text-white mt-1">
            Our goal is to produce learned, qualified, and skilled IT experts
            with top-class technical skills and reliable managerial abilities
            able to drive business growth and lead organizations to success.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="choose pt-md-5 pb-mt-5 mt-1 pb-0"
  style="background: #fff; overflow: hidden"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
        <div
          class="section-title mb-50 text-center wow animate_animated animate_fadeInUp"
          style="visibility: visible"
        >
          <div class="section-title-heading mb-20">
            <h1 class="">
              <b
                >Why To Choose
                <span style="color: #f91942, padding-bottom 50px">Us ?</span></b
              >
            </h1>
          </div>
          <div class="section-title-para">
            <p>
              As a committed IT training institute that bases its teaching on
              practice and experience, we boast a record of producing competent
              IT professionals today leading fulfilling and successful
              professional careers. Our tutors are responsible, experienced, and
              educated IT experts that give each of our students the attention
              and care required to master the various challenging IT concepts
              and technologies.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="choose_box">
      <div
        class="row"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div
          class="col-md-4 col-lg-4 col-sm-4 col-xl-4 wow animate_animated animate_fadeInLeft"
          style="visibility: visible"
        >
          <div
            class="choose_content mb-5 value_box_content d-flex flex-column align-items-center text-center"
          >
            <p class="">01</p>
            <h3><b>We are a One-Stop shop for IT Training.</b></h3>
            <p>
              Ashok IT provides holistic and thorough training to sculpt its
              students into knowledgeable and adept professionals equipped with
              the necessary technical and interpersonal capabilities required to
              excel in the challenging corporate atmospheres of today.
            </p>
            <a>
              <i
                class="fas fa-long-arrow-alt-right fa-2x"
                style="vertical-align: -5px"
                (click)="scrollUp('scrollUp')"
              ></i>
            </a>
          </div>
        </div>
        <div
          class="col-md-4 col-lg-4 col-sm-4 col-xl-4 wow animate_animated animate_fadeInUp"
          style="visibility: visible"
        >
          <div
            class="choose_content mb-5 value_box_content d-flex flex-column align-items-center text-center"
          >
            <p class="">02</p>
            <h3><b>All our trainers are working professionals.</b></h3>
            <p>
              Every trainee at Ashok IT is themselves a working industry
              professional with profound and up-to-the-minute IT knowledge.
              Because of which, in addition to IT expertise, our tutors are also
              able to help our students gain valuable industry insights.
            </p>
            <a>
              <i
                class="fas fa-long-arrow-alt-right fa-2x"
                style="vertical-align: -5px"
                (click)="scrollUp('scrollUp')"
              ></i>
            </a>
          </div>
        </div>
        <div
          class="col-md-4 col-lg-4 col-sm-4 col-xl-4 wow animate_animated animate_fadeInRightBig"
          style="visibility: visible"
        >
          <div
            class="choose_content mb-5 value_box_content d-flex flex-column align-items-center text-center"
          >
            <p class="">03</p>
            <h3>
              <b
                >Every course we deliver with Industry Matching Requirements.</b
              >
            </h3>
            <p>
              With new technologies rolled in the market every other day,
              Information Technology is a rapidly evolving field at all times.
              We understand that the regularly shifting nature of the field
              makes it imperative for IT Training programs.
            </p>
            <a>
              <i
                class="fas fa-long-arrow-alt-right fa-2x"
                style="vertical-align: -5px"
                (click)="scrollUp('scrollUp')"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="accordion mb-3" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            01. We are a One-Stop shop for IT Training.
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <strong> Ashok IT </strong>provides holistic and thorough training
            to sculpt its students into knowledgeable and adept professionals
            equipped with the necessary technical and interpersonal capabilities
            required to excel in the challenging corporate atmospheres of today.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            02. All our trainers are working professionals.
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            Every trainee at <strong> Ashok IT </strong> is themselves a working
            industry professional with profound and up-to-the-minute IT
            knowledge. Because of which, in addition to IT expertise, our tutors
            are also able to help our students gain valuable industry insights.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            03. Every course we deliver with Industry Matching Requirements.
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            With new technologies rolled in the market every other day,
            Information Technology is a rapidly evolving field at all times. We
            understand that the regularly shifting nature of the field makes it
            imperative for IT Training programs.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
