<title>Ashok IT : Best Software Training Institute in Hyderabad</title>
<body>
    <div class="container">
        <div class="card-body mt-5 mb-5 p-5">
            <div class="table-responsive">
                <h1><b>Congratulations!</b></h1>
                <h2>Thank you for enrollment..</h2>
                <h2>Your Enrollment Got Confirmed..</h2>
                <a routerLink="/student/my-courses" class="btn btn-primary">Access Your Course</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>