<!-- <div class="container">
    <div class="row justify-content-center">
        <img src="../../assets/images/oh oh.jpg">
        <a href="/home" class="btn btn-primary" style="margin-left: 220px;">Go back to Home</a>
    </div>
</div> -->
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div class="card d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/images/page not found.jpg" width="100" height="100" class="mt-5 mb-3">
                <h1 class="card-title"><b>OOPS!</b></h1>
                <p class="card-text"><b>Error 404 - Page Not Found</b></p>
                <p class="card-para pr-2">The page you requested could not be found.
                    We are working on it:)
                </p>
                <div class="mt-3 mb-5">
                    <a class="home" routerLink="/home"><b>BACK TO HOME</b></a>
                </div>
            </div>
        </div>
    </div>
</div>