.card {
    border: 20px solid rgb(255, 165, 0);
    border-top-color: rgb(255, 255, 0);
    border-bottom-color: rgb(255, 255, 0);
}

.card-text {
    color: red;
}

.home {
    text-decoration: none;
}

.home:hover {
    color: red;
}

.home:active {
    color: yellow;
}