<div class="p-3" style="box-shadow:  5px 10px 15px 5px rgb(212, 218, 219);">
    <h1 class="m-4">Dashboard</h1>
</div>
<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card card1">
            <div class="card-statistic-4">
                <div class="align-items-center justify-content-between">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 bg-dark p-3"><i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                            <h4><b>Today Registered</b><br></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card card2">
            <div class="card-statistic-4">
                <div class="align-items-center justify-content-between">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 bg-info p-3"><i class="far fa-newspaper fa-3x"></i></div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6" style="white-space: nowrap;">
                            <h4><b>Courses</b><br>{{coursesCount}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>