<div class="container">

<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
    <label for="course-status" class="form-label"> <b>Select Courses Status:</b></label>
    <select id="roles" name="roles" class="form-select">
        <option selected disabled>Fresher Interviews</option>
        <option value="0-3 Years">0-3 Years</option>
        <option value="3-6 Years">3-6 Years</option>
        <option value="6-10 Years">6-10 Years</option>
        <option value="10+ Years">10+ Years</option>
    </select>
</div>
</div>