
.required-label::after {
    content: '*';
    color: red;
    margin-left: 0.2em;
}
.btn-submit {
    background-color: #002147;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;

}
.btn-submit:hover{
    background-color: rgb(36, 110, 253);

}
.card-header {
    box-shadow: 3px 3px 5px 5px rgb(212, 218, 219);
    border-radius: none;
}

.card-body {
    box-shadow: 3px 3px 5px 5px rgb(212, 218, 219);
    border-radius: none;
}