<div class="container">
  <div class="add_btn">
    <button class="btn-add" (click)="addBanner()">Add Banner</button>
  </div>
  <div class="card-header mt-5 mb-5 p-3">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 mb-3">
        <label for="Show" class="form-label"><b>Show</b></label>
        <select id="Show" class="form-select"  [(ngModel)]="pageSize">
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="30">30</option>
          <option value="60">60</option>
          <option value="100">100</option>
          <option value="200">200</option>
        </select>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 mb-3">
        <label for="Search" class="form-label"><b>Search</b></label>
        <input name="text" id="title" name="title" class="form-control" placeholder="Title" [(ngModel)]="title">
      </div>

      <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
        <label for="Category" class="form-label"></label>
        <section class="filter">
          <button class="btn-filter" (click)="filter()">Filter</button>
        </section>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Title</th>
            <th scope="col">Sub title</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let banner of filteredBanners.slice((currentPage - 1) * pageSize, currentPage * pageSize);; let i = index">
            <td>{{i + 1 + (currentPage - 1) * pageSize}}</td>
            <td>{{banner.title}}</td>
            <td>{{banner.subTitle}}</td>
            <td>
              <img src="../../../assets/banners/{{banner.coverImage}}" alt="Banner Image"
                style="width: 100px; height: auto;">
            </td>
            <td><button class="btn btn-icon btn-info"><i class="fas fa-edit edit-icon"
                  (click)="editBanner(banner)"></i></button></td>
            <td (click)="updateBannerStatus(banner.id, banner.status)">
              <button *ngIf="banner.status == 0" class="btn btn-icon btn-danger">
                <i class="fas fa-check-circle status-icon"></i>
              </button>

              <button *ngIf="banner.status == 1" class="btn btn-icon btn-success">
                <i class="fas fa-check-circle status-icon"></i>
              </button>
            </td>
            <td (click)="deleteBanner(banner.id, banner.coverImage)"> <button class="btn btn-icon btn-danger">
                <i class="fas fa-trash"></i>
              </button></td>

          </tr>
          <tr>
            <td *ngIf="banners.length == 0" colspan="9" style="text-align:center">No records
              found<br><br>
              For any queries, do write us
              <a href="mailto:info@ashokitech.com">info@ashokitech.com </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" aria-label="Previous" (click)="onPageChange(currentPage - 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let page of getPageArray()" class="page-item" [class.active]="page === currentPage">
            <a class="page-link">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
            <a class="page-link" aria-label="Next" (click)="onPageChange(currentPage + 1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item pt-2"> Total Records: {{ totalItems }}</li>
    </ul>
</nav>
</div>