<div class="container">
    <div class="card-header  mt-5 p-2">
        <h1 class="mt-3"><b>New Batch Schedule</b></h1>
    </div>
    <div class="card-body mt-5 mb-5 p-5">
        <form [formGroup]="courseEnrollForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="courseCategoryName" class="form-label required-label"><b>Course Category Name</b></label>
                    <select name="courseCategoryId" id="courseCategoryId" class="form-control" formControlName="courseCategoryId" required=""
                    (change)="findCourseByCategory($event)" >
                     <option>-Select-</option>
                        <option *ngFor="let courseCategory of courseCategories; let i = index" [value]="courseCategory.courseCategoryId">
                            {{courseCategory.courseCategoryName}}
                        </option>
                    </select>
                </div>
                <div class=" col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="courseName" class="form-label required-label"><b>Course Name</b> </label>
                    <select name="courseId" id="courseId" class="form-control" formControlName="courseId" required="">
                        <option>-Select-</option>
                        <option *ngFor="let course of selectedCourses; let i = index" [value]="course.courseId">
                            {{course.courseName}}
                        </option>
                    </select>
                </div>
               
            </div>
            <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="trainerId" class="form-label required-label"><b>Select Batch Trainer</b></label>
                    <select name="trainerId" id="trainerId" formControlName="trainerId" class="form-control"
                        required="">
                        <option>-Select-</option>
                        <option *ngFor="let trainers of trainer" [value]="trainers.trainerId">{{
                            trainers.trainerName }}</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="counsellor" class="form-label required-label"><b>Select Batch Counsellor</b></label>
                    <select name="counsellorId" formControlName="counsellorId" id="counsellorId" class="form-control"
                        required="">
                        <option>-Select-</option>
                        <option *ngFor="let counsellor of counsellors" [value]="counsellor.counsellorId">{{
                            counsellor.counsellorName }}</option>

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="scheduleType" class="form-label required-label"><b>Batch Type</b> </label>
                    <select id="scheduleType" name="scheduleType" class="form-select" formControlName="scheduleType">
                        <option>-Select-</option>
                        <option *ngFor="let trgMode of trainingModes" [value]="trgMode.trainingType">
                            {{trgMode.trainingType }}
                        </option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="scheduleType" class="form-label required-label"><b>ClassRoom Training Available ?</b> </label>
                    <select id="clsrmTrngAvailable" name="clsrmTrngAvailable" class="form-select" formControlName="clsrmTrngAvailable">
                        <option>-Select-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>                        
                    </select>
                </div>
                
            </div>
            <div class="row">               
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="batchCode" class="form-label required-label"><b>Batch Code</b> </label>
                    <input type="text" name="batchCode" formControlName="batchCode" id="batchCode" class="form-control"
                        required="">
                    <span id="tell" style="color:red;"></span>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="startDate" class="form-label required-label"><b>Select Start Date:</b></label>
                    <input type="date" class="form-control" name="startDate" id="startDate" formControlName="startDate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="backupVideos" class="form-label"><b>Backup Videos Available</b> </label>
                    <select id="backupVideos" name="backupVideos" class="form-select" formControlName="backupVideos">
                        <option>-Select-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="backupVideosFee" class="form-label"><b>Backup Videos Fee</b> </label>
                    <input type="text" name="backupVideosFee" formControlName="backupVideosFee" id="backupVideosFee"
                        class="form-control" required="">   
                    <span id="tel" style="color:red;"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="batchTimings" class="form-label required-label"><b>Timings</b></label>
                    <input type="text" name="batchTimings" formControlName="batchTimings" id="batchTimings"
                        class="form-control" required="">
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="meridianType" class="form-label"><b>AM / PM ?</b> </label>
                    <select id="meridianType" name="meridianType" class="form-select" formControlName="meridianType">
                        <option>-Select-</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="endDate" class="form-label required-label"><b>Select End Date:</b></label>
                    <input type="date" class="form-control" id="endDate" name="endDate"  formControlName="endDate">
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="duration" class="form-label required-label"><b>Duration </b></label>
                    <input type="text" name="duration" formControlName="duration" id="duration" class="form-control"
                        required="">
                    <span id="tell" style="color:red;"></span>
                </div>-->
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="zoomId" class="form-label required-label"><b>Zoom ID</b></label>
                    <input type="text" name="zoomId" formControlName="zoomId" id="zoomId" class="form-control"
                        required="">
                    <span id="tell" style="color:red;"></span>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="zoomRegLink" class="form-label required-label"><b>Zoom Reg Link</b></label>
                    <input type="text" name="zoomRegLink" formControlName="zoomRegLink" id="zoomRegLink"
                        class="form-control" required="">
                    <span id="tell" style="color:red;"></span>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="gitLink" class="form-label required-label"><b>Git Link</b></label>
                    <input type="text" name="gitLink" formControlName="gitLink" id="gitLink" class="form-control"
                        required="">
                    <span id="tell" style="color:red;"></span>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="whatsappLink" class="form-label required-label"><b>Whatsapp Link</b></label>
                    <input type="text" name="whatsappLink" formControlName="whatsappLink" id="whatsappLink"
                        class="form-control" required="">
                    <span id="tell" style="color:red;"></span>
                </div>
            </div>
           <!-- <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="courseStatus" class="form-label required-label"><b>Course Status</b></label>
                    <select id="courseStatus" name="courseStatus" class="form-select" formControlName="courseStatus">
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                        <option value="Aborted">Aborted</option>
                    </select>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="demoStatus" class="form-label required-label"><b>Demo Status</b></label>
                    <select id="demoStatus" name="demoStatus" class="form-select" formControlName="demoStatus">
                        <option value="Running">Running</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-2 mt-2">
                    <label for="teachableCourseId" class="form-label required-label"><b>Select Teachable Course</b></label>
                    <select id="teachableCourseId" class="form-select" formControlName="teachableCourseId">
                        <option>-Select-</option>
                        <option *ngFor="let teachableCourse of teachableCourses; let i = index" [value]="teachableCourse.id">{{teachableCourse.name}}
                        </option>
                    </select>
                </div>
                <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="teachableCode" class="form-label required-label"><b>Teachable Code</b></label>
                    <input type="text" name="teachableCode" formControlName="teachableCode" id="teachableCode"
                        class="form-control" required="">
                    <span id="tell" style="color:red;"></span>
                </div> -->
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-3">
                    <label for="scheduleName" class="form-label required-label"><b>Label Name</b></label>
                    <input type="text" name="scheduleName" id="scheduleName" formControlName="scheduleName"
                        class="form-control" required="">
                </div>
            </div>
           
            <div class="row mt-3">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                    <button type="submit" class="btn btn-submit float-end">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>