.sidebar{
  background-color: #2d2e2d;
  padding-top: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
}

.navbar-nav .nav-link,
.accordion-header {
  font-size: 16px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #2d2e2d;
  cursor: pointer;
}

h2{
  cursor: pointer;
}


.sub_menu {
  white-space: nowrap;
}

.accordion{
  background-color: #2d2e2d;
}


.accordion-item {
  background-color: #2d2e2d;
  color: white;
  box-shadow: none;
  border-radius: 0 !important;
  border: none !important;
}

.accordion-body {
  background-color: #fff;
  /* Background color for accordion body */
  // padding: 15px;
  /* Padding inside accordion body */
}

.accordion-body a{
  border-bottom: 1px solid #ccc;
}

.accordion-body .dropdown-item {
  display: block;
  // padding: 10px 15px;
  /* Padding for links inside accordion body */
  color: #2f7272;
  /* Text color */
  text-decoration: none;
  /* Remove underline */
}

.accordion-body .dropdown-item:last-child {
  border-bottom: none;
  /* Remove border from the last item */
}


.accordion-body {
  background-color: #fff;
  /* Background color for accordion body */
  padding: 15px;
  /* Padding inside accordion body */
  /* Border at the top of the accordion body */
}

.accordion-body .dropdown-item {
  display: block;
  padding: 10px 15px;
  /* Padding for links inside accordion body */
  color: #2f7272;
  /* Text color */
  text-decoration: none;
  /* Remove underline */
  /* Border between items */
}

.accordion-body .dropdown-item:last-child {
  border-bottom: none;
  /* Remove border from the last item */
}


.logout {
  position: relative;
  display: inline-block;
}

.logout-card {
  position: absolute;
  top: 120%;
  right: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.logout-card-item {
  padding: 10px 20px;
  cursor: pointer;
}

.logout-card-item:hover {
  color: #114bec;
  background-color: #f0f0f0;
}
