<div *ngIf="!isLoggedIn() && getCurrentRoute() !== '/login'">
  <app-starting-header></app-starting-header>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

<div *ngIf="!isLoggedIn() && getCurrentRoute() === '/login'">
  <router-outlet></router-outlet>
</div>

<!-- Student Login -->

<div *ngIf="isLoggedIn() && getRole() === 'STUDENT'" (contextmenu)="disableRightClick($event)">
  <div class="row align-items-center" style="margin-bottom: 10px">
    <div class="col-md-2">
      <!-- Image always occupies 2 columns -->
      <img src="../../../assets/images/logo2.jpg" alt="Ashok IT" class="img-fluid" />
    </div>
    <div class="col-md-10 p-3 d-flex justify-content-between" style="background-color: red">
      <i class="fas fa-bars fa-3x"></i>
      <div class="logout" (mouseenter)="showCard()" (mouseleave)="hideCard()">
        <i class="fas fa-user fa-3x"></i>
        <div class="logout-card" *ngIf="cardVisible" (mouseenter)="resetCloseTimer()" (mouseleave)="hideCard()">
          <div class="logout-card-item" (click)="goToProfile()">
            <b>Profile</b>
          </div>
          <div class="logout-card-item" (click)="logout()"><b>Logout</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 sidebar">
      <div class="accordion" id="accordionMenu">
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="/student/my-courses">
            <i class="fas fa-desktop"></i> My Courses
          </h2>
        </div>
      </div>
      <div class="accordion" id="accordionMenu">
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="/student/home">
            <i class="fas fa-desktop"></i> Enroll For Course
          </h2>
        </div>
      </div>

      <div class="accordion" id="accordionMenu">
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="/student/registered-events">
            <i class="fas fa-calendar-alt"></i> Free Workshops
          </h2>
        </div>
      </div>
      <!-- Enquiries -->
      <div class="accordion-item">
        <h2 class="accordion-header position-relative p-3" id="Settings" data-bs-toggle="collapse"
          data-bs-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
          <i class="fas fa-cogs"></i> Customer Support<i
            class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
        </h2>
        <div id="collapseSettings" class="accordion-collapse collapse" aria-labelledby="Settings"
          data-bs-parent="#accordionMenu">
          <div class="accordion-body">
            <a routerLink="/student/raise-complaint" class="sub_menu d-block py-1 px-1">Raise Complaint</a>
            <a routerLink="/student/previou-complaints" class="sub_menu d-block py-1 px-1">My Complaints</a>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header position-relative p-3" id="headingMyProfile" data-bs-toggle="collapse"
          data-bs-target="#myProfile" aria-expanded="true" aria-controls="myProfile">
          <i class="fas fa-newspaper"></i> My Profile
          <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
        </h2>
        <div id="myProfile" class="accordion-collapse collapse" aria-labelledby="headingMyProfile"
          data-bs-parent="#accordionMenu">
          <div class="accordion-body">
            <a class="sub_menu d-block py-1 px-1" routerLink="/student/change-password">Change Password</a>
            <a class="sub_menu d-block py-1 px-1" routerLink="/student/personal-details">Personal Details</a>
            <a class="sub_menu d-block py-1 px-1" routerLink="/student/educational-details">Education Details</a>
            <a class="sub_menu d-block py-1 px-1" routerLink="/student/placement-details">Placement Details</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Page content -->
    <main class="col-md-10 px-md-4">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <router-outlet></router-outlet>
      </div>
      <!-- <div class="pt-3 pb-2 mb-3 border-bottom text-center">
        <p>@ 2025 ASHOK IT, ALL RIGHTS RESERVED..</p>
      </div>-->
    </main>
  </div>
</div>

<!-- Trainer Login -->

<div *ngIf="isLoggedIn() && getRole() === 'TRAINER'" (contextmenu)="disableRightClick($event)">
  <div class="row align-items-center" style="margin-bottom: 10px">
    <div class="col-md-2">
      <!-- Image always occupies 2 columns -->
      <img src="../../../assets/images/logo2.jpg" alt="Ashok IT" class="img-fluid" />
    </div>
    <div class="col-md-10 p-3 d-flex justify-content-between" style="background-color: red">
      <i class="fas fa-bars fa-3x"></i>
      <div class="logout" (mouseenter)="showCard()" (mouseleave)="hideCard()">
        <i class="fas fa-user fa-3x"></i>
        <div class="logout-card" *ngIf="cardVisible" (mouseenter)="resetCloseTimer()" (mouseleave)="hideCard()">
          <div class="logout-card-item" (click)="logout()"><b>Logout</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 sidebar">
      <div class="accordion" id="accordionMenu">
        <!-- DashBoard -->
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="/trainer/dashboard">
            <i class="fas fa-desktop"></i> Dashboard
          </h2>
        </div>
      </div>
      <div class="accordion" id="accordionMenu">
        <!-- DashBoard -->
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="/trainer/upload-notes">
            <i class="fas fa-desktop"></i> Upload Notes
          </h2>
        </div>
      </div>
    </nav>

    <!-- Page content -->
    <main class="col-md-10 px-md-4">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <router-outlet></router-outlet>
      </div>
      <div class="pt-3 pb-2 mb-3 border-bottom text-center">
        <p>@ 2025 ASHOK IT, ALL RIGHTS RESERVED..</p>
      </div>
    </main>
  </div>
</div>

<!-- Super Admin Login-->

<div *ngIf="isLoggedIn() && getRole() === 'SUPERADMIN'" class="container-fluid h-100" (contextmenu)="disableRightClick($event)">
  <div class="row align-items-center" style="margin-bottom: 10px">
    <div class="col-md-2">
      <!-- Image always occupies 2 columns -->
      <img src="../../../assets/images/logo2.jpg" alt="Ashok IT" class="img-fluid" />
    </div>
    <div class="col-md-10 p-3 d-flex justify-content-between" style="background-color: red">
      <i class="fas fa-bars fa-3x"></i>
      <div class="logout" (mouseenter)="showCard()" (mouseleave)="hideCard()">
        <i class="fas fa-user fa-3x"></i>
        <div class="logout-card" *ngIf="cardVisible" (mouseenter)="resetCloseTimer()" (mouseleave)="hideCard()">
          <div class="logout-card-item" (click)="logout()"><b>Logout</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 sidebar">
      <div class="accordion" id="accordionMenu">
        <!-- Dashboard -->
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="super-admin/home">
            <i class="fas fa-desktop"></i> DashBoard
          </h2>
        </div>

        <!-- View Course -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingViewCourse2" data-bs-toggle="collapse"
            data-bs-target="#collapseViewCourse2" aria-expanded="true" aria-controls="collapseViewCourse2">
            <i class="fas fa-newspaper"></i> Courses
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseViewCourse2" class="accordion-collapse collapse" aria-labelledby="headingViewCourse2"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/view-course-category" class="d-block py-1 px-1">View Course Category</a>
              <a routerLink="super-admin/view-courses" class="d-block py-1 px-1">View Courses</a>
              <a routerLink="super-admin/view-modules" class="d-block py-1 px-1">View Modules</a>
              <a routerLink="super-admin/view-sub-module" class="d-block py-1 px-1">View Sub Modules</a>
            </div>
          </div>
        </div>
        <!--  Trainer-->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="faculty" data-bs-toggle="collapse"
            data-bs-target="#collapsefaculty" aria-expanded="true" aria-controls="collapsefaculty">
            <i class="fas fa-chalkboard-teacher"></i> Trainers <i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapsefaculty" class="accordion-collapse collapse" aria-labelledby="faculty"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/trainer" class="d-block py-1 px-1">View Trainers</a>
              <a routerLink="super-admin/add-trainer-payment" class="d-block py-1 px-1">
                View Trainer Payment
              </a>
              <a routerLink="super-admin/trainer-enquiry" class="d-block py-1 px-1">
                View Trainer Enquiries
              </a>
            </div>
          </div>
        </div>

        <!-- Counsellor -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Counsellors" data-bs-toggle="collapse"
            data-bs-target="#collapseCounsellors" aria-expanded="true" aria-controls="collapseCounsellors">
            <i class="fas fa-hands-helping"></i> Counsellors <i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseCounsellors" class="accordion-collapse collapse" aria-labelledby="Counsellors"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/counsellor" class="sub_menu d-block py-1 px-3">Counsellors</a>
              <!-- <a routerLink="super-admin/addCounsellor" class="sub_menu d-block py-1 px-3">Add Counsellors</a> -->
            </div>
          </div>
        </div>
        <!-- Students -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingStudents" data-bs-toggle="collapse"
            data-bs-target="#collapseStudents" aria-expanded="true" aria-controls="collapseStudents">
            <i class="fas fa-users"></i> Students  <i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseStudents" class="accordion-collapse collapse" aria-labelledby="headingStudents"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/view-student" class="d-block py-1 px-3">View Students</a>
              <a routerLink="super-admin/view-payment" class="d-block py-1 px-3">View Enrollments</a>
              <a routerLink="super-admin/student-bulk" class="d-block py-1 px-3">Student Bulk Enroll</a>
              <a routerLink="super-admin/upload-zoom-report" class="d-block py-1 px-3">Upload Zoom Report</a>
            </div>
          </div>
        </div>
        <!-- Batches schedule -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="batchSchedule" data-bs-toggle="collapse"
            data-bs-target="#collapseBatchSchedule" aria-expanded="true" aria-controls="collapseBatchSchedule">
            <i class="fas fa-calendar-alt"></i> Batch Schedules<i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseBatchSchedule" class="accordion-collapse collapse" aria-labelledby="batchSchedule"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/new-batch" class="sub_menu d-block py-1 px-3">Schedule batch</a>
              <a routerLink="super-admin/event" class="sub_menu d-block py-1 px-3">Schedule Free Workshop</a>
              <a routerLink="super-admin/view-transfer-batch" class="sub-menu d-block py-1 px-3">Transfer Batch</a>

              <!-- <a routerLink="super-admin/special-batch" class="sub_menu d-block py-1 px-3">Schedule
                  special batch</a> -->
            </div>
          </div>
        </div>

        <!--Testimonial-->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Testimonials" data-bs-toggle="collapse"
            data-bs-target="#collapseTestimonials" aria-expanded="true" aria-controls="collapseTestimonials">
            <i class="fas fa-hands-helping"></i> Testimonials<i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseTestimonials" class="accordion-collapse collapse" aria-labelledby="Testimonials"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/testimonial" class="sub_menu d-block py-1 px-3">Testimonial</a>
            </div>
          </div>
        </div>
        <!--=Client-->

        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingClients" data-bs-toggle="collapse"
            data-bs-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
            <i class="fas fa-users"></i> Clients<i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseClients" class="accordion-collapse collapse" aria-labelledby="headingClients"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <!-- <a routerLink="add-client" class=" d-block py-1 px-3">Add  Client</a>  -->
              <a routerLink="super-admin/view-client" class="d-block py-1 px-3">View Client
              </a>
              <!-- <a routerLink="update-client" class=" d-block py-1 px-3">Update Client </a>  -->
            </div>
          </div>
        </div>

        <!-- Interview Questions -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingMockInterviews" data-bs-toggle="collapse"
            data-bs-target="#collapseMockInterview" aria-expanded="true" aria-controls="collapseMockInterview">
            <i class="fas fa-comments"></i> Interview Questions<i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseMockInterview" class="accordion-collapse collapse" aria-labelledby="headingMockInterviews"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/view-interview-category" class="d-block py-1 px-1">View Interview Category</a>
              <a routerLink="super-admin/view-interview-question" class="d-block py-1 px-1">View Interview Questions</a>
            </div>
          </div>
        </div>

        <!-- mock interviews -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingMockInterviews" data-bs-toggle="collapse"
            data-bs-target="#collapseInterviewQuestion" aria-expanded="true" aria-controls="collapseInterviewQuestion">
            <i class="fas fa-comments"></i> Mock interviews<i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseInterviewQuestion" class="accordion-collapse collapse"
            aria-labelledby="headingInterviewQuestion" data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/list-mock-interviews" class="d-block py-1 px-1">View Mock Interviews</a>
              <a routerLink="super-admin/list-mock-interviews-fee" class="d-block py-1 px-1">List Mock Interviews
                Fee</a>
            </div>
          </div>
        </div>

        <!-- User Response -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="userResponse" data-bs-toggle="collapse"
            data-bs-target="#collapseUserResponse" aria-expanded="true" aria-controls="collapseUserResponse">
            <i class="fas fa-user-graduate"></i> User Response
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseUserResponse" class="accordion-collapse collapse" aria-labelledby="userResponse"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/contact-us-enquiries" class="d-block py-1 px-0">Contact Us Enquiries</a>
              <a routerLink="super-admin/daily-leads" class="sub_menu d-block py-1 px-0">Daily Leads</a>
              <a routerLink="super-admin/zoom-registered" class="sub_menu d-block py-1 px-0">Zoom Registered</a>
              <a routerLink="super-admin/landing-pages-lead" class="d-block py-1 px-0">Landing Pages Leads</a>
              <a routerLink="super-admin/job-applications" class="sub_menu d-block py-1 px-0">Job Applications</a>
              <a routerLink="super-admin/student-complaints" class="sub_menu d-block py-1 px-0">Student Complaints</a>
              <a routerLink="super-admin/our-customer" class="sub_menu d-block py-1 px-0">Our Customers</a>
              <a routerLink="super-admin/company-enquiry" class="d-block py-1 px-0">View Company Enquiries</a>
            </div>
          </div>
        </div>

        <!-- Settings -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Settings" data-bs-toggle="collapse"
            data-bs-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
            <i class="fas fa-cogs"></i> Settings<i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseSettings" class="accordion-collapse collapse" aria-labelledby="Settings"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/banner" class="sub_menu d-block py-1 px-2">Banner</a>
              <a routerLink="super-admin/course-popup" class="sub_menu d-block py-1 px-2">Course Popup</a>
              <a routerLink="super-admin/banner-promotion" class="sub_menu d-block py-1 px-2">Banner Promotion</a>
              <a routerLink="super-admin/social-settings" class="sub_menu d-block py-1 px-2">Social Settings</a>
              <a routerLink="super-admin/smpt-settings" class="sub_menu d-block py-1 px-2">SMTP Settings</a>
              <a routerLink="super-admin/seo-settings" class="sub_menu d-block py-1 px-2">SEO Settings</a>
              <a routerLink="super-admin/payments-method" class="sub_menu d-block py-1 px-2">Payment methods</a>
              <a routerLink="super-admin/general-settings" class="sub_menu d-block py-1 px-2">General Settings</a>
            </div>
          </div>
        </div>

        <!-- Notifications -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="notifications" data-bs-toggle="collapse"
            data-bs-target="#collapseNotifications" aria-expanded="true" aria-controls="collapseNotifications">
            <i class="fas fa-bell"></i>Notifications
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseNotifications" class="accordion-collapse collapse" aria-labelledby="notifications"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="super-admin/batch-notification" class="sub_menu d-block py-1 px-1">Batch Notification</a>
              <a routerLink="super-admin/daily-lead-notification" class="d-block py-1 px-1">Daily Lead Notification</a>
              <a routerLink="super-admin/bulk-notification" class="sub_menu d-block py-1 px-1">Bulk Notification</a>
              <a routerLink="super-admin/event-notification" class="sub_menu d-block py-1 px-1">Events Notification</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Page content -->
    <main class="col-md-10 px-md-4">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <router-outlet></router-outlet>
      </div>
      <div class="pt-3 pb-2 mb-3 border-bottom text-center">
        <p>@ 2025 ASHOK IT, ALL RIGHTS RESERVED..</p>
      </div>
    </main>
  </div>
</div>

<!-- Admin Login -->

<div *ngIf="isLoggedIn() && getRole() === 'ADMIN'" class="container-fluid h-100" (contextmenu)="disableRightClick($event)">
  <div class="row align-items-center" style="margin-bottom: 10px">
    <div class="col-md-2">
      <!-- Image always occupies 2 columns -->
      <img src="../../../assets/images/logo2.jpg" alt="Ashok IT" class="img-fluid" />
    </div>
    <div class="col-md-10 p-3 d-flex justify-content-between" style="background-color: red">
      <i class="fas fa-bars fa-3x"></i>
      <div class="logout" (mouseenter)="showCard()" (mouseleave)="hideCard()">
        <i class="fas fa-user fa-3x"></i>
        <div class="logout-card" *ngIf="cardVisible" (mouseenter)="resetCloseTimer()" (mouseleave)="hideCard()">
          <div class="logout-card-item" (click)="logout()"><b>Logout</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 sidebar">
      <div class="accordion" id="accordionMenu">
        <!-- Dashboard -->
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="admin/home">
            <i class="fas fa-desktop"></i> Dashboard
          </h2>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="admin/upload-job-leads">
            <i class="fas fa-chart-line"></i> Upload JOB Leads
          </h2>
        </div> 

        <!-- View Course -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingViewCourse2" data-bs-toggle="collapse"
            data-bs-target="#collapseViewCourse2" aria-expanded="true" aria-controls="collapseViewCourse2">
            <i class="fas fa-newspaper"></i> Courses
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseViewCourse2" class="accordion-collapse collapse" aria-labelledby="headingViewCourse2"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/view-course-category" class="d-block py-1 px-1">View Course Category</a>
              <a routerLink="admin/view-courses" class="sub_menu d-block py-1 px-1">View Course</a>
              <a routerLink="admin/view-modules" class="sub_menu d-block py-1 px-1">View Modules</a>
              <a routerLink="admin/view-sub-module" class="sub_menu d-block py-1 px-1">View sub Modules</a>
            </div>
          </div>
        </div>
        <!-- mock interviews -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingMockInterviews" data-bs-toggle="collapse"
            data-bs-target="#collapseMockInterview" aria-expanded="true" aria-controls="collapseMockInterview">
            <i class="fas fa-comments"></i> Interview Questions
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseMockInterview" class="accordion-collapse collapse" aria-labelledby="headingMockInterviews"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/view-interview-category" class="d-block py-1 px-1">View Interview Category</a>
              <a routerLink="admin/view-interview-question" class="d-block py-1 px-1">View Interview Questions</a>
            </div>
          </div>
        </div>

        <!-- Jobs-Management -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="jobsManagement" data-bs-toggle="collapse"
            data-bs-target="#collapseJobsManagement" aria-expanded="true" aria-controls="collapseJobsManagement">
            <i class="fas fa-hands-helping"></i> Jobs Management
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseJobsManagement" class="accordion-collapse collapse" aria-labelledby="JobsManagement"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/jobs-management" class="sub_menu d-block py-1 px-0">Jobs Management</a>
              <a routerLink="admin/view-job-posting" class="sub_menu d-block py-1 px-0">View Job Postings</a>
            </div>
          </div>
        </div>

        <!-- Students -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingStudents" data-bs-toggle="collapse"
            data-bs-target="#collapseStudents" aria-expanded="true" aria-controls="collapseStudents">
            <i class="fas fa-users"></i> Zoom Reports<i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseStudents" class="accordion-collapse collapse" aria-labelledby="headingStudents"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/upload-zoom-report" class="d-block py-1 px-3">Upload Zoom Report</a>
              <a routerLink="admin/zoom-registered" class="sub_menu d-block py-1 px-0">Send Wati Bulk SMS</a>
            </div>
           
          </div>
        </div>

        <!-- Batches schedule -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="batchSchedule" data-bs-toggle="collapse"
            data-bs-target="#collapseBatchSchedule" aria-expanded="true" aria-controls="collapseBatchSchedule">
            <i class="fas fa-calendar-alt"></i> Batch Schedules <i
              class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseBatchSchedule" class="accordion-collapse collapse" aria-labelledby="batchSchedule"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/event" class="sub_menu d-block py-1 px-3">Schedule Free Workshop</a>
            </div>
          </div>
        </div>

        <!-- User Response -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="userResponse" data-bs-toggle="collapse"
            data-bs-target="#collapseUserResponse" aria-expanded="true" aria-controls="collapseUserResponse">
            <i class="fas fa-user-graduate"></i> User Response
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseUserResponse" class="accordion-collapse collapse" aria-labelledby="userResponse"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/landing-pages-lead" class="d-block py-1 px-0">Landing Pages Leads</a>
            </div>
          </div>
        </div>

        <!--Testimonial-->

        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Testimonials" data-bs-toggle="collapse"
            data-bs-target="#collapseTestimonials" aria-expanded="true" aria-controls="collapseTestimonials">
            <i class="fas fa-hands-helping"></i> Testimonials
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseTestimonials" class="accordion-collapse collapse" aria-labelledby="Testimonials"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/testimonial" class="sub_menu d-block py-1 px-3">Testimonial</a>
            </div>
          </div>
        </div>
        <!--=Client-->

        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="headingClients" data-bs-toggle="collapse"
            data-bs-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
            <i class="fas fa-users"></i> Client
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseClients" class="accordion-collapse collapse" aria-labelledby="headingClients"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/view-client" class="d-block py-1 px-3">View Client</a>
            </div>
          </div>
        </div>

        <!-- Settings -->
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Settings" data-bs-toggle="collapse"
            data-bs-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
            <i class="fas fa-cogs"></i> Settings
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseSettings" class="accordion-collapse collapse" aria-labelledby="Settings"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="admin/banner" class="sub_menu d-block py-1 px-1">Banner</a>
              <a routerLink="admin/course-popup" class="sub_menu d-block py-1 px-1">Course Popup</a>
              <a routerLink="admin/banner-promotion" class="sub_menu d-block py-1 px-">Banner Promotion</a>
            </div>
          </div>
        </div>

      </div>
    </nav>

    <!-- Page content -->
    <main class="col-md-10 px-md-4">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <router-outlet></router-outlet>
      </div>
      <div class="pt-3 pb-2 mb-3 border-bottom text-center">
        <p>@ 2025 ASHOK IT, ALL RIGHTS RESERVED..</p>
      </div>
    </main>
  </div>
</div>

<!-- Counsellor Login -->

<div *ngIf="isLoggedIn() && getRole() === 'COUNSELLOR'" class="container-fluid h-100" (contextmenu)="disableRightClick($event)">
  <div class="row align-items-center" style="margin-bottom: 10px">
    <div class="col-md-2">
      <!-- Image always occupies 2 columns -->
      <img src="../../../assets/images/logo2.jpg" alt="Ashok IT" class="img-fluid" />
    </div>
    <div class="col-md-10 p-3 d-flex justify-content-between" style="background-color: red">
      <i class="fas fa-bars fa-3x"></i>
      <div class="logout" (mouseenter)="showCard()" (mouseleave)="hideCard()">
        <i class="fas fa-user fa-3x"></i>
        <div class="logout-card" *ngIf="cardVisible" (mouseenter)="resetCloseTimer()" (mouseleave)="hideCard()">
          <div class="logout-card-item" (click)="logout()"><b>Logout</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 sidebar">
      <div class="accordion" id="accordionMenu">
        <!-- DashBoard -->
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="counselor/home">
            <i class="fas fa-desktop"></i> Dashboard
          </h2>
        </div>

        
        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Settings" data-bs-toggle="collapse"
            data-bs-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
            <i class="fas fa-cogs"></i> Enquiries
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseSettings" class="accordion-collapse collapse" aria-labelledby="Settings"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="counselor/view-enquiry" class="sub_menu d-block py-1 px-0">Course Enquiries</a>
              <a routerLink="counselor/add-trainer-enquiries" class="sub_menu d-block py-1 px-0">Trainer Enquiries</a>
              <a routerLink="counselor/add-company-enquiries" class="sub_menu d-block py-1 px-00">Company Enquiries</a>
              <a routerLink="counselor/contact-us-enquiry" class="d-block py-1 px-0">Contact US Enquiries</a>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Settings1" data-bs-toggle="collapse"
            data-bs-target="#collapseSettings1" aria-expanded="true" aria-controls="collapseSettings1">
            <i class="fas fa-cogs"></i> Students
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseSettings1" class="accordion-collapse collapse" aria-labelledby="Settings1"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="counselor/view-students" class="d-block py-1 px-3">View Students</a>
              <a routerLink="counselor/view-enrollments" class="d-block py-1 px-3">Student Enrollments</a>
              <a routerLink="counselor/students-complaints" class="d-block py-1 px-3">Student Complaints</a>
              <a routerLink="counselor/student-jobs" class="d-block py-1 px-3">Students Placed</a>
             <!-- <a routerLink="counselor/job-application" class="d-block py-1 px-3">JOB Applications</a>-->
            </div>

          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header position-relative p-3" id="Settings2" data-bs-toggle="collapse"
            data-bs-target="#collapseSettings2" aria-expanded="true" aria-controls="collapseSettings2">
            <i class="fas fa-chart-line"></i> Leads
            <i class="fas fa-caret-down position-absolute top-0 end-0 mt-3 me-2"></i>
          </h2>
          <div id="collapseSettings2" class="accordion-collapse collapse" aria-labelledby="Settings2"
            data-bs-parent="#accordionMenu">
            <div class="accordion-body">
              <a routerLink="counselor/daily-lead" class="d-block py-1 px-3">Daily Leads</a>
              <a routerLink="counselor/registered-in-zoom" class="d-block py-1 px-3">Zoom Data</a>
              <a routerLink="counselor/events-registrations" class="d-block py-1 px-3">Events Data</a>
              <a routerLink="counselor/job-leads" class="d-block py-1 px-3">Job Leads</a>
            </div>

          </div>
        </div>


        

        <!-- 
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="counselor/daily-lead">
            <i class="fas fa-chart-line"></i> Daily Leads
          </h2>
        </div>

        
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="counselor/registered-in-zoom">
            <i class="fas fa-video"></i> Zoom Data
          </h2>
        </div>

        
         <div class="accordion-item">
            <h2 class="accordion-header p-3" routerLink="counselor/">
              <i class="fas fa-chart-line"></i> Events Data
            </h2>
          </div> 

          <div class="accordion-item">
            <h2 class="accordion-header p-3" routerLink="counselor/">
              <i class="fas fa-chart-line"></i> Job Leads
            </h2>
          </div> -->
  

        <!--J View Enrollments-->
        <div class="accordion-item">
          <h2 class="accordion-header p-3" routerLink="counselor/view-enrollment">
            <i class="fas fa-eye"></i> Pending Enrollments
          </h2>
        </div>
      </div>
    </nav>

    <!-- Page content -->
    <main class="col-md-10 px-md-4">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <router-outlet></router-outlet>
      </div>
      <div class="pt-3 pb-2 mb-3 border-bottom text-center">
        <p>@ 2025 ASHOK IT, ALL RIGHTS RESERVED..</p>
      </div>
    </main>
  </div>
</div>