<div class="container">
    <section class="add_trainer">
        <div class="card-header mt-5 p-2">
          <h1 class="mt-3"><b>Add Trainer</b></h1>
        </div>
      </section>
    <div class="card-body mt-5 mb-5 p-5">
        <form [formGroup]="trainerForm"  (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="FirstName" class="form-label required-label"><b>Trainer Name</b></label>
                <input type="text" id="FirstName" class="form-control" formControlName="trainerName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="Email" class="form-label required-label"><b>Email</b></label>
                <input type="text" name="email" class="form-control" formControlName="email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="Password" class="form-label required-label"><b>Password</b></label>
                <input type="password" id="Password" class="form-control" formControlName="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="Address" class="form-label required-label"><b>Address</b></label>
                <textarea id="address" name="address" class="form-control" formControlName="address"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-2 mt-2">
                <label for="countryCode" class="form-label required-label"><b>Country Code</b></label>
                <select id="countryCode" class="form-select" formControlName="countryCode">
                    <option value="0">--select--</option>
                    <option *ngFor="let countryCode of countryCodes" [value]="countryCode.countryCode">{{ countryCode.countryCode+" - "+countryCode.countryName }}</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-2 mt-2">
                <label for="Phone" class="form-label required-label"><b>Phone</b></label>
                <input type="text" id="Phone" class="form-control" formControlName="mobileNumber">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="Experience" class="form-label required-label"><b>Experience</b></label>
                <textarea id="experience" name="experience" class="form-control" formControlName="experience"></textarea>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
            <label for="resume" class="form-label required-label"><b>Resume</b></label>
            <input type="file" id="resume" name="resume" class="form-control" formControlName="resume" (change)="onResumeFileChange($event)">
        </div>
        <!-- <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
            <label for="activeStatus" class="form-label required-label"><b>Status</b></label>
            <input id="activeStatus" name="activeStatus" class="form-control" formControlName="activeStatus">
        </div> -->
        <div class="row mt-3">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                <button type="submit" class="btn btn-submit  float-end" [disabled]="trainerForm.invalid">Submit</button>
            </div>
        </div>
    </form>
    </div>
</div>