.btn {
    margin-right: 10px;
}

.btn-submit{
    background-color: #002147;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;

}

.btn-submit:hover{
    background-color: #53b65b;
}
.card-body {
    margin: 20px;
    padding: 20px;
    
}