<div class="container">
    <div class="card-header mt-5 p-2">
        <h1 class="mt-3"><b>Update Banner</b></h1>
    </div>
    <div class="box">
        <div class="card-body mt-5 mb-5 p-5">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                    <label for="title" class="form-label required-label"><b>Banner Title</b></label>
                    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="banner.title">
                </div>
            </div>
           <!-- <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="subTitle" class="form-label required-label"><b>Sub Title</b></label>
                <input type="text" id="subTitle" name="subTitle" class="form-control" [(ngModel)]="banner.subTitle">
            </div>-->
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="coverImage" class="form-label"><b>Banner Image</b></label><br>
                <input type="file" name="coverImage" id="coverImage" class="form-control-file "
                    [(ngModel)]="banner.coverImage" (change)="onFileChange($event)">
            </div>
            <div class="row mt-3">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                    <button type="submit" class="btn-submit float-end" (click)="onSubmit()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>