<div id="carouselExampleControls" class="carousel banner-slide1" data-ride="carousel">
  <div id="scrollUp" class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/services221.png" alt="Java Full Stack Developer Course in Hyderabad" class="d-block w-100" />
      <div class="carousel-caption d-flex flex-column justify-content-center align-items-start">
        <h1 class="container-heading">Our Services</h1>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 mb-3">
  <h2 class=""><b>Online IT Training</b></h2>
  <div class="col-md-6 col-lg-6fadeInLeft mt-3 mb-3" data-wow-duration="1s" data-wow-delay="1s">
    <div class="img-group-2 img-decor-btm custom-img-group">
      <img class="img-fluid img-mechdsgn" src="../../assets/images/Scclabs.1.jpg" alt="Java Fullstack Developer Course" />
    </div>
  </div>
  <div id="onlineItTraining"
    class="col-md-6 col-lg-6 wow animate__animated animate__fadeInLeft text-lg-left text-md-left"
    style="visibility: visible">
    <h3>
      <p>
        <b></b>Our online IT training programs are designed to allow our
        students to study anytime and anywhere in an affordable and convenient
        manner. The course structure for each program is carefully designed to
        ensure active engagement from students even in online mode. The students
        are provided with ample exposure to interactive, pragmatic learning
        opportunities in addition to strong theoretical grounding. Each program
        imparts thorough, industry-specific knowledge, preparing students to be
        able to effectively operate in the challenging business settings of
        today. The online option is ideal for professionals looking to upgrade
        their skills.<b></b>
      </p>
    </h3>
    <button class="btn btn-danger" (click)="onlineExplore()">
      Explore More
    </button>
  </div>
</div>

<div class="row mt-4 mb-3">
  <h2 class=""><b>Classroom Training</b></h2>
  <div id="onlineItTraining"
    class="col-md-6 col-lg-6 wow animate__animated animate__fadeInLeft text-lg-left text-md-left"
    style="visibility: visible">
    <h3>
      <P><b></b>Our Ashok IT also offers in-class offline IT training for
        aspirants in search of more hands-on, and experiential learning. Our
        in-class physical learning encourages collaborative learning where
        students and tutors team up to create a congenial educational
        environment. Students have the opportunity to interact with our industry
        experts in person and work on a number of practice-based projects that
        enable them to learn through real-time practice. In classroom learning,
        students also have the opportunity to develop many critical social,
        communication, presentation, interpersonal, and teamwork skills. Our
        in-class programs are designed to allow students to grow as competent
        and qualified professionals enriched with vital technical,
        computational, and administrative capabilities.</P>
    </h3>
    <button class="btn btn-danger" (click)="classRoomExplore()">
      Explore More
    </button>
  </div>
  <div class="col-md-6 col-lg-6fadeInLeft mt-3 mb-3" data-wow-duration="1s" data-wow-delay="1s">
    <div class="img-group-2 img-decor-btm custom-img-group">
      <img class="img-fluid img-mechdsgn" src="../../assets/images/Scclabs.2.jpg" alt="Image" />
    </div>
  </div>
</div>

<div class="row mt-4 mb-3">
  <h2 class=""><b>Corporate Training</b></h2>
  <div class="col-md-6 col-lg-6fadeInLeft mt-3 mb-3" data-wow-duration="1s" data-wow-delay="1s">
    <div class="img-group-2 img-decor-btm custom-img-group">
      <img class="img-fluid img-mechdsgn" src="../../assets/images/dataAnalyst1.jpg" alt="Image" />
    </div>
  </div>
  <div id="onlineItTraining"
    class="col-md-6 col-lg-6 wow animate__animated animate__fadeInLeft text-lg-left text-md-left"
    style="visibility: visible">
    <h3>
      <p>
        <b></b>OurIT is an ever-evolving field, expanding every day. As a field
        that witnesses new advancements regularly, it calls for continuous
        training for IT employees. Ashok IT understands this demand of the IT
        sector and therefore offers effective and efficient corporate training
        programs that help organizations enhance operational efficiencies and
        capabilities by upgrading the skills and knowledge of their employees.
        Our Corporate Training programs are designed to allow IT professionals
        to update their computational skills and knowledge to get abreast with
        the latest technological developments. The corporate training program
        also allows the employees opportunities to build on their interpersonal,
        teamwork, collaboration, and other vital administrative skills.
      </p>
    </h3>
    <button class="btn btn-danger" (click)="corporeteExplore()">
      Explore More
    </button>
  </div>
</div>

<div class="row mt-4 mb-3">
  <h2 class=""><b>Internships</b></h2>
  <div id="onlineItTraining"
    class="col-md-6 col-lg-6 wow animate__animated animate__fadeInLeft text-lg-left text-md-left"
    style="visibility: visible">
    <h3>
      <p>
        <b></b>OurInternship programs are short-term professional learning
        opportunities offered by business organizations. Internship programs
        allow aspirants to learn via real-time practical exposure. They get the
        opportunity to utilize their learned skills and knowledge and draw on
        their intellectual capabilities to work on real-life projects and solve
        real-world issues. Internships are valuable learning opportunities for
        students to work on relevant projects, develop necessary soft and hard
        skills, learn more about their field of interest, make importan industry
        connections, gain vital industry insights, and enhance their commercial
        awareness. Ashok IT enables our students to secure important internships
        at renowned tech firms to learn professional life skills and kick start
        their careers.
      </p>
    </h3>
    <button class="btn btn-danger" (click)="internshipExplore()">
      Explore More
    </button>
  </div>
  <div class="col-md-6 col-lg-6fadeInLeft mt-3 mb-3" data-wow-duration="1s" data-wow-delay="1s">
    <div class="img-group-2 img-decor-btm custom-img-group">
      <img class="img-fluid img-mechdsgn" src="../../assets/images/Scclabs.Internship.jpg" alt="Students learning Java Full Stack Development at Ashok IT" />
    </div>
  </div>
</div>

<!--
<div class="row training-features ml-auto mr-auto">
  <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1 ml-auto mr-auto">
    <div class="row">
      <h1><b>Ashok IT Advantage</b></h1>
      <div class="col-lg-6 col-md-6 wow animate__animated animate__fadeInLeft" style="visibility: visible;">
        <div class="item box-bg1" style="background-color:rgb(53, 204, 87)">
          <div class="ml-3 text-center">
            <h3> In-Time Course Completion</h3>
            <p>Committed to pure professionalism we make sure that the course program gets completed the scheduled
              time. Equal priority will be given for both theoretical & practical sessions</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 wow animate__animated animate__fadeInRight" style="visibility: visible;">
        <div class="item box-bg2" style="background-color:rgb(69, 137, 193)">
          <div class="ml-3">
            <h3>Free Demo Sessions</h3>
            <p>Free Demo Sessions (Online/Offline) by our qualified domain experts will help the aspirants to get a
              better idea about the course program & can get their doubts clarified by the experts
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6  wow animate__animated animate__fadeInLeft" style="visibility: visible;">
        <div class="item box-bg4" style="background-color:rgb(136, 100, 195)">
          <div class="ml-3">
            <h3>State-Of-The-Art Infrastructure</h3>
            <p>Get ready to witness an ultimate learning experience with our state-of-the-art-infrastructure which
              includes digitalized classrooms, sophisticated lab & other features</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 wow animate__animated animate__fadeInRight" style="visibility: visible;">
        <div class="item box-bg5" style="background-color:rgb(226, 81, 24)">
          <div class="ml-4">
            <h3> Blended Training Approach</h3>
            <p>Exposure towards real-time industry training by our trusted experienced trainers will help you become a
              complete dominant professional in your desired profession.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->