<div class="Interview-Questions">
    <h1 class=""><b>Mock Interviews with Real Interviewers</b></h1>
    <p class="para">Practice your interview skills. Evaluate your interview preparation.Improve via expert feedback
    </p>
</div>
<div class="container">
    <div class="row">
        <div class=" main col-md-8 col-xl-8 col-lg-8  col-sm-8">
            <div class="row">
                <h1 class="mb-5 justify-content-Lift m-5"><b>What You Will Get</b></h1>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e6bbcb234b25aff3f81b5_best-employee.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">Mentor from your chosen company</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e6c90aadcc5651abd97ef_clock.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">1 hour Mock Interview Session</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e6cc83ca3c57e36252fd2_feedback.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">Detailed & Genuine Feedback</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e6d05a71217d6d7198aa6_recording.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">Lifetime access to recordings</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607f32be1f5bf60bda707d73_community.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">Premium Mentor Community</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607f33a17bd9602d36ab51cc_money-back-guarantee.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">100% Money Back Guarantee</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial">

                    <div class="media-left ">
                        <img src="../../assets/mockInterviews/Developer_Shiva_krishna.jpg" alt="Image"
                            class="mock-image mr-3 rounded-circle" style="width: 150px;">
                        <img src="https://www.ashokitech.com/assets/frontend/mockinterview/quote.png" alt="Image"
                            style="width: 30px; height:30px; margin-top: 5px;">
                        <p style="margin-top: 20px; font-size: 15px;">Mock Interview session with an Amazon
                            Interviewer was a
                            fabulous experience. I feel more
                            confident in my preparations just after a couple of sessions.</p>
                    </div>
                    <div class="amazon">
                        <img src="https://www.ashokitech.com/./uploads/mock_interview/1677443563_1634967971.png"
                            alt="Image" class="company-name" style="width: 130px;">
                        <h3>SHIVA KRISHNA G</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="mt-5 mb-5"><b>How does this session help you?</b></h1>
                <div class="card1 col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                    <div class="media-left ">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e74081afa67359ba96052_problem-solving.svg"
                            alt="Image" class="image">
                        <h3><b>Improves problem solving</b></h3>
                    </div>
                    <p>Learn how to solve problems under pressure & timing constraints of a real interview</p>
                </div>
                <div class="card1 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="media-left ">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e74c722f433154a6e8456_find.svg"
                            alt="Image" class="image">
                        <h2><b>Finds key weaknesses</b></h2>
                    </div>
                    <p>Understand your weaknesses and how to approach them</p>
                </div>
            </div>
            <div class="row">
                <div class="card1 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="media-left ">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e74fe3882b8375f4afb98_strengthen.svg"
                            alt="Image" class="image">
                        <h2><b>Strengthens concepts</b></h2>
                    </div>
                    <p>Practice important interview topics and resolve common misconceptions</p>
                </div>
                <div class="card1 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="media-left ">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e5831b40f15d4a6e5701f_personal-mentor.svg"
                            alt="Image" class="image">
                        <h4><b>Improves interview skills</b></h4>
                    </div>
                    <p>Master the art of giving interviews and cracking them with ease</p>
                </div>
            </div>
            <div class="row">
                <h1 class="mt-5 mb-5"><b>How does this work?</b></h1>
                <div class="card1" style="height:150px;width: 800px;background-color: rgb(235, 251, 255)">
                    <h2><b>Fill up the form and book a mock interview session</b></h2>

                    <p style="color:rgb(75, 156, 236);">We use your details like experience,domain,and target companies
                        to find a perfect interviewer for
                        you.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="card1" style="height:150px;width: 800px;background-color: rgb(235, 251, 255)">
                    <h2><b>We finalise a real-life Interviewer and schedule a session for you</b></h2>
                    <p style="color:rgb(75, 156, 236);">We schedule your mock interview session over Google meet with an
                        interviewr from one of your
                        target
                        companies.</p>
                </div>
            </div>
            <div class="row">
                <div class="card1" style="height:150px;width: 800px;background-color: rgb(235, 251, 255)">
                    <h2><b>Have a 1 hour Mock Interview Session</b></h2>
                    <p style="color:rgb(75, 156, 236);">The interviewer simulates a real-life interview over 45 mins.
                        The interviewer will then spend the
                        next 15
                        mins to provide you a genuine feedback on your performance.</p>
                </div>
            </div>
            <div class="row">
                <div class="card1" style="height:150px;width: 800px;background-color: rgb(235, 251, 255)">
                    <h2><b>Work on the feedback and observe notable difference</b></h2>
                    <p style="color:rgb(75, 156, 236);">Observe improvement in your technical & interview skills by
                        working on the feedback. We’ll be
                        waiting to
                        see succeed in your actual interview soon!</p>
                </div>
            </div>
            <div class="row">
                <h1 class="mt-5 mb-5"><b>Why take mock interviews with real Interviewers?</b></h1>
                <div class="testimonial">
                    <div class="">
                        <div class="media-left ">
                            <img src="../../assets/mockInterviews/developer_Preethi.jpg" alt="Image"
                                class="mock-image mr-3 rounded-circle" style="width: 180px;">
                            <img src="https://www.ashokitech.com/assets/frontend/mockinterview/quote.png" alt="Image"
                                style="width: 30px; height:30px; margin-top: 5px;">
                            <p style="margin-top: 20px; font-size: 15px;">Mock Interview session with an Amazon
                                Interviewer was a
                                fabulous experience. I feel more
                                confident in my preparations just after a couple of sessions.</p>
                        </div>
                    </div>
                    <div class="amazon">
                        <img src="../../assets/images/intel.png" alt="Image" class="company-name" style="width: 150px;">
                        <h3>PREETHI P , Senior Engineer & Interviewer</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="mt-5 mb-5"><b>Why take mock interviews with real Interviewers?</b></h1>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <img src="../../assets/mockInterviews/developer_mahesh_1.jpg" alt="Image"
                            class="mock-image mr-3 rounded-circle" style="width: 150px;  margin-left: 11px;">
                        <div><br>
                            <h2 style="color: brown; margin-left: 11px;">MAHESH G</h2>
                        </div>
                        <h4 style=" margin-left: 11px;"><b>Systems Architect</b></h4>
                        <img src="../../assets/uploads/mock_interview/1469543112_1634968020.png" alt="Image"
                            class="company-name" style="width: 150px;  margin-left: 11px;">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <img src="../../assets/mockInterviews/developer_soumya.jpg" alt="Image"
                            class="mock-image mr-3 rounded-circle" style="width: 150px; margin-left: 11px;">
                        <div><br>
                            <h2 style="color: brown; margin-left: 11px;">SOUMYA G</h2>
                        </div>
                        <h4 style=" margin-left: 11px;"><b>Software Developer</b></h4>
                        <img src="../../assets/uploads/mock_interview/1677443563_1634967971.png" alt="Image"
                            class="company-name" style="width: 90px;  margin-left: 11px; ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e76234c19e5f135939af0_check.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">They are interviewers at their current company</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e76234c19e5f135939af0_check.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">They have interviewed and mentored tons of candidates</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e76234c19e5f135939af0_check.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">They know common mistakes people make in an interview
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e76234c19e5f135939af0_check.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">They know what is important and what companies tend to ask</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e76234c19e5f135939af0_check.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">They are the best people to help you improve your interview
                                skills
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card-container">
                        <img src="https://uploads-ssl.webflow.com/5fa298c0bded9141021f03fa/607e76234c19e5f135939af0_check.svg"
                            class="card-img" alt="Image">
                        <div class="card-content">
                            <h3 class="text-center mt-3">They can give insightful feedback based on key industry metrics
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 ">
                <h1 class="mt-5 mb-5"><b>Hear what our customers have to say</b></h1>
                <div class="row  mb-5">
                    <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="media">
                            <img src="https://www.ashokitech.com/assets/frontend/mockinterview/quote.png" alt="Image"
                                style="width: 30px; height:30px; margin-top: 5px;">
                            <p style="margin-top: 20px; font-size: 15px;">I'd never taken a mock interview before
                                and this was a great learning experience. The insights and feedback provided by the
                                mentor were helpful and convincing.</p>
                            <h4>Shiva S.S</h4>
                            <div class="star-container col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                    alt="Image" alt="stars" style="width: 20px;">
                                <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                    class="t08_star" alt="Image" style="width: 20px;">
                                <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                    class="t08_star" alt="Image" style="width: 20px;">
                                <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                    class="t08_star" alt="Image" style="width: 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="media">
                            <img src="https://www.ashokitech.com/assets/frontend/mockinterview/quote.png" alt="Image"
                                style="width: 30px; height:30px; margin-top: 5px;">
                            <p style="margin-top: 20px; font-size: 15px;">I really like how Preplaced team took the
                                responsibility for arranging a mock interview in a short span of few hours with all
                                the possible requirements taken care of.</p>
                            <div>
                                <h4>Aditya Garg</h4>
                                <div class="star-container col-xl-6 col-lg-6 col-md-6 col-sm-6"
                                    style="margin-left: 190px;">
                                    <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                        class="t08_star" alt="Image" style="width: 20px;">
                                    <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                        class="t08_star" alt="Image" style="width: 20px;">
                                    <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                        class="t08_star" alt="Image" style="width: 20px;">
                                    <img src="https://uploads-ssl.webflow.com/5fa295745a35c46d8f947f62/5fa295751e926582d680c033_stars.svg"
                                        class="t08_star" alt="Image" style="width: 20px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <div class="form-size">
                <form class="form" [formGroup]="mockInterviewFeeForm" (ngSubmit)="onSubmit()">
                    <label for="name" class="form-label"><b>Name</b></label>
                    <input type="text" name="name" id="name" formControlName="name" class="form-control">
                    <div *ngIf="submitted && f['name'].errors" class="text-danger">Name is required</div>
                    <label for="email" class="form-label"><b>Email</b></label>
                    <input type="email" name="email" id="email" class="form-control" formControlName="email">
                    <div *ngIf="submitted && f['email'].errors" class="text-danger">Email is required</div>
                    <label for="phoneNumber" class="form-label"><b>Phone Number</b></label>
                    <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control"
                        formControlName="phoneNumber">
                    <div *ngIf="submitted && f['phoneNumber'].errors" class="text-danger">Phone Number is required</div>
                    <label for="experience" style=" display: block;"><b>Mentor Experience</b></label>
                    <select class="form-select" aria-label="experience" name="experience" id="experience"
                        class="form-control" formControlName="experience">
                        <option value="">Select Experience</option>
                        <option value="0 - 3 years">0 - 3 years</option>
                        <option value="3 - 6 years">3 - 6 years</option>
                        <option value="6 - 10 years">6 - 10 years</option>
                        <option value="10+ years">10+ years</option>
                    </select>
                    <div *ngIf="submitted && f['experience'].errors" class="text-danger">Experience is required</div>
                    <label for="fee"><b>Fee</b></label>
                    <select class="form-select" aria-label="fee" name="fee" id="fee" class="form-control"
                        formControlName="fee">
                        <option value=""></option>
                        <option value="2000">2000</option>
                        <option value="4000">4000</option>
                        <option value="6000">6000</option>
                    </select>
                    <div *ngIf="submitted && f['fee'].errors" class="text-danger">Fee is required</div>
                    <label for="domain"><b>Domain</b></label>
                    <select id="domain" name="domain" data-name="domain" class="form-control" formControlName="domain">
                        <option value="" data-select2-id="select2-data-2-7nm8">Select your domain</option>
                        <option value="ai_ml_engineer" data-select2-id="select2-data-9-lcjg">AI/ML Engineer</option>
                        <option value="auto_engineer" data-select2-id="select2-data-10-pr9k">Automation Engineer
                        </option>
                        <option value="back_end" data-select2-id="select2-data-11-2aul">Backend Developer</option>
                        <option value="bus_analyst" data-select2-id="select2-data-12-a6jp">Business Analyst</option>
                        <option value="consulting" data-select2-id="select2-data-13-0ul4">Business Consultant</option>
                        <option value="data_analyst" data-select2-id="select2-data-14-miwl">Data Analyst</option>
                        <option value="data_engineer" data-select2-id="select2-data-15-om42">Data Scientist</option>
                        <option value="db_engineer" data-select2-id="select2-data-16-mbmu">Database Engineer</option>
                        <option value="dev_ops" data-select2-id="select2-data-17-d2yw">DevOps Engineer</option>
                        <option value="ece_campus" data-select2-id="select2-data-18-looy">Electrical Engineering Campus
                            Placements</option>
                        <option value="embedded_sys_engineer" data-select2-id="select2-data-19-supu">Embedded Systems
                            Engineer</option>
                        <option value="engineering_manager" data-select2-id="select2-data-20-tqoi">Engineering Manager
                        </option>
                        <option value="finance_accounting" data-select2-id="select2-data-21-xnp1">Finance/Accounting
                        </option>
                        <option value="front_end" data-select2-id="select2-data-22-iulp">Frontend Developer</option>
                        <option value="full_stack" data-select2-id="select2-data-23-oyxp">Full Stack Developer</option>
                        <option value="hard_engineer" data-select2-id="select2-data-24-kp9d">Hardware Engineer</option>
                        <option value="hr" data-select2-id="select2-data-25-xcd8">HR</option>
                        <option value="management_roles" data-select2-id="select2-data-26-r3mb">Management Roles
                        </option>
                        <option value="mech" data-select2-id="select2-data-27-xlv9">Mechanical</option>
                        <option value="mech_campus" data-select2-id="select2-data-28-cb5e">Mechanical Campus Placements
                        </option>
                        <option value="ops_manager" data-select2-id="select2-data-29-d43o">Operations Manager</option>
                        <option value="prod_analyst" data-select2-id="select2-data-30-j7s9">Product Analyst</option>
                        <option value="prod_manager" data-select2-id="select2-data-31-v6mg">Product Manager</option>
                        <option value="program_manager" data-select2-id="select2-data-32-aruz">Program Manager</option>
                        <option value="qa_testing" data-select2-id="select2-data-33-7vxu">Q/A Testing</option>
                        <option value="sales_marketing" data-select2-id="select2-data-34-vs33">Sales / Marketing
                        </option>
                        <option value="sap_engineer" data-select2-id="select2-data-35-fqbm">SAP Engineer</option>
                        <option value="site_reliability" data-select2-id="select2-data-36-xwhy">Site Reliability
                            Engineer
                        </option>
                        <option value="soft_engineer_student" data-select2-id="select2-data-37-u7u8">Software Engineer
                            Campus Placements</option>
                        <option value="sys_engineer" data-select2-id="select2-data-38-holz">System Engineer</option>
                        <option value="tech_architect" data-select2-id="select2-data-39-9ysv">Technical Architect
                        </option>
                        <option value="tech_manager" data-select2-id="select2-data-40-yj2i">Technical Manager</option>
                        <option value="ux_design" data-select2-id="select2-data-41-hl24">UI/UX Designer</option>
                        <option value="vlsi_engineer" data-select2-id="select2-data-42-7han">VLSI Engineer</option>
                        <option value="z_others" data-select2-id="select2-data-43-8o0r">Others</option>
                    </select>
                    <div *ngIf="submitted && f['domain'].errors" class="text-danger">Domain is required</div>
                    <button type="submit" class="registerbtn"><b>Book Now</b></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="Interview-Questions">
    <h1 class=""><b>Frequently Asked Questions</b></h1>
    <p class="para">If you are hesitating, do not worry - we are here to explain
        everything you might want to know. Let us help!
    </p>
</div>