.form-controltn{
  color: rgb(8, 8, 8);
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 38px;
  color: #444;
  height: 38px;
}
