<div class="container">
    <div class="card">
        <div class="shadow bg-body rounded">
            <div class="box">
                <div class="card-body mt-3">
                    <div class="grid-container">
                        <div class="form-group">
                            <label for="full-name" class="form-label"><b>Full Name:</b></label>
                            <input type="text" id="full-name" name="full-name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label"><b>Email:</b></label>
                            <input type="text" id="email" name="email" class="form-control datemask">
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label"><b>Password:</b></label>
                            <input type="text" id="password" name="password" class="form-control datemask">
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="form-label"><b>Mobile:</b></label>
                            <input type="text" id="mobile" name="mobile" class="form-control datemask">
                        </div>
                        <div class="form-group">
                            <label for="role" class="form-label"><b>Role:</b></label>
                            <select id="role" class="form-select" name="role">
                                <option selected disabled>Select a Role</option>
                                <option>Admin</option>
                                <option>Office</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" value="add_staff">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>