<div class="containet-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-3 mb-3">
      <div class="custom-card">
        <img src="../../assets/images/forgotPassword image.png" width="100" height="100" alt="Forgot Password Image" />

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
          <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorMessage()"></button>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMsg">
          {{ successMsg }}
        </div>
        <div *ngIf="isLoading" class="alert alert-info" role="alert">
          <p>Processing your request, please wait ...</p>
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="row">
              <input type="email" class="form-control required-label" id="email" name="email" [(ngModel)]="email"
                name="email" placeholder="Email" formControlName="email" />
              <div *ngIf="submitted && f['email'].errors" class="text-danger">
                * Email is required
              </div>
            </div>
          </div>
          <div class="login mt-3">
            <button type="submit" class="btn btn-submit">Submit</button>
          </div>
        </form>
        <div class="login mt-3">
          <a href="/login"><i class="fas fa-arrow-left p-2"></i>Back To Login</a>
        </div>
      </div>
    </div>
  </div>
</div>