
.btn-submit {
 background-color: #002147;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;

}

.btn-submit:hover {
  background-color: rgb(36, 110, 253);

}

.custom-card{
  border:1px solid lightgrey;
  padding:0 20px;
  width: 40%;
  border-radius:5px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}


@media screen and (max-width:768px) {
  .custom-card{
    width: 90%;
  }
}
