<div class="container">
    <section class="add_courses">
        <div class="card-header mt-5 p-2">  
            <h1 class="mt-3"><b>Add Course Category</b></h1>
        </div>
    </section>
    <div class="card-body mt-5 mb-5 p-5" >
        <form [formGroup]="courseCategoryForm"  (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="courseCategoryName" class="form-label required-label"><b>Course Category Name</b></label>
                <input type="text" id="courseCategoryName" name="courseCategoryName" formControlName="courseCategoryName" class="form-control">
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="description" class="form-label required-label"><b>Description</b></label>
                <input type="text" id="description" formControlName="description" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-3">
                <label for="status" class="form-label required-label"><b> Status </b> </label>
                <select id="status" name="status"  formControlName="status" class="form-select">
                    <option selected disabled>Select a course category status</option>
                    <option value="ACTIVE">Active</option>
                    <option value="IN_ACTIVE">Inactive</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 ">
                <button type="submit" class="btn btn-submit float-end" [disabled]="courseCategoryForm.invalid">Submit</button>
            </div>
        </div>
        </form>
    </div>
</div>



