<div class=container-fluid>

    <div class="IQ">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 d-flex align-items-center justify-content-center">
                <h1 class="interview_questions ml-2 animate__animated animate__bounceIn"><b>Customer Support</b></h1>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                <img src="../../../assets/images/support2.png" alt="career-banner" class="img-fluid banner_image">
            </div>
        </div>        
    </div>

    <div class="row">
        <!-- <div class="col-md-6 d-flex align-items-center justify-content-center"> -->
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 mb-5 mt-4 ">
            <h2 class="text"><b>You have not enrolled for any course as of now.</b></h2>
            <a href="/student/home"><b>Please click here to enroll now.</b></a>
       
        </div>

    </div>
    
</div>
